---
import Header from "../components/Organisms/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Not found">
<Header />
  <div class="mt-20 flex flex-col items-center justify-center gap-x-4">
    <h1 class="text-6xl font-bold text-black dark:text-white">404</h1>
    <p class="text-lg text-black dark:text-white">Página no encontrada</p>
  </div>
</Layout>