---
import Form from "../components/MultComponents/Form.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Escrow transactions">
	<h1 class="flex flex-row justify-center text-2xl sm:text-3xl font-bold text-black dark:text-white mb-4">Envía dinero</h1>
	<Form />
</Layout>