---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <div class="flex flex-col items-center justify-center gap-x-4">
    <h1 class="text-2xl sm:text-3xl font-bold text-black
      dark:text-white">Transacciones</h1>
    <p class="text-lg text-black dark:text-white">Coming soon</p>
  </div>
</Layout>