---
import InfoIcon from "@/components/icons/Info.astro";
---

<div
  class="flex text-xs items-start text-red-800 dark:text-red-400"
  role="alert"
>
  <InfoIcon />
  <slot /> incorrecto, prueba de nuevo.
</div>
