---
import FormField from "../UniqueComponents/FormField.astro";
---

<form
  class="flex flex-col justify-center items-center mb-5 max-w-96 min-w-full"
>
  <FormField id="payee_address" placeholder="0xa9fd..." type="text">
    Dirección del receptor
  </FormField>

  <FormField id="agent_address" placeholder="0xba0e..." type="text">
    Dirección del agente
  </FormField>
  <FormField id="amount" placeholder="10.00" type="number">
    Cantidad (wei)
  </FormField>
</form>
